.clipCard {
  position: relative;
  box-sizing: content-box;
  cursor: pointer;
  width: 320px;
  height: 95%;
  flex-shrink: 0;
  margin-right: 8px;
  margin-bottom: 8px;
  overflow: hidden;
  border: unset;

  &:first-of-type {
    margin-left: 8px;
  }

  &Ctx {
    position: relative;
    word-break: break-all;
    width: 100%;

    overflow-y: auto;
    overflow-x: hidden;
    .text {
      height: 150px;
      color: #000000a6;
      font-size: 14px;
      overflow: auto;
    }
    .cover {
      height: 150px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 248px;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        box-shadow: 0 0 20px 5px #ffffff inset;
      }
    }
  }
}

.highlight {
  border: 3px solid #1677ff;
  margin-right: 7px;
}

.title {
  display: flex;
  align-items: center;
  .ctx {
    flex: 1;
    .text {
      font-size: 18px;
      color: #fffffff0;
    }
    .time {
      font-size: 10px;
      color: #ffffffa6;
    }
  }
}

:global {
  .card-background-text {
    .ant-card-head {
      background-color: #faad14;
      border-radius: unset;
    }
  }
  .card-background-html {
    .ant-card-head {
      background-color: #3498db;
      border-radius: unset;
    }
  }
  .card-background-rtf {
    .ant-card-head {
      background-color: #531dab;
      border-radius: unset;
    }
  }
  .card-background-image {
    .ant-card-head {
      background-color: #e74c3c;
      border-radius: unset;
    }
    .ant-card-body {
      height: 100%;
      padding: 0;
      justify-content: center;
      overflow: hidden;
    }
  }
}

.heart {
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}


.popoverContext {
  display: flex;
  flex-direction: column;
}
