.tag {
  margin-right: 2px;
  cursor: pointer;
  position: relative;
  color: #111111;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s ease;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 18px;

  &::before {
    color: #000;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 28px;
    background: rgba(255, 171, 157, 0.5);
    width: 18px;
    height: 18px;
    transform: scale(0.6);
    transition: all 0.3s ease;
  }

  .ctx {
    display: none;
    margin: 0 12px;
    font-size: 13px;
    user-select: none;
    position: relative;
    z-index: 1;
  }

  svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #111111;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
  }

  &:hover:before {
    transform: scale(1);
    width: 100%;
  }

  &:hover,
  &:focus {
    .ctx {
      display: inline-block;
    }
    color: #111111;
  }

  &:active {
    color: #111111;
    transform: scale(0.96);
  }
}
