.hotkey {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 24px;

  .header {
    .title {
      display: flex;
      margin-top: 6px;
      margin-bottom: 28px;
    }
  }

  .inputGroup {
    display: flex;
    align-items: center;
  }

  :global {
    .ant-form-item {
      margin: 0;
    }
    .ant-form-item-control-input-content {
      display: flex;
    }
    .ant-form-item-required::before {
      display: none !important;
    }
  }
}
