.version {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .subtitle {
    display: block;

    .text {
      font-size: 16px;
      color: #000000ed;
    }

    .autostart {
      margin-top: 40px;
      gap: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .extra {
    display: flex;
    // flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .btn {
    margin-left: 8px;
  }
  :global {
    .ant-result-icon {
      height: 150px;
    }
    .ant-result-extra {
      margin: 0;
    }

    .ant-switch.ant-switch-checked {
      background-color: #faad14;
    }

    .ant-switch.ant-switch-checked:hover:not(.ant-switch-disabled) {
      background-color: #faad14;
    }
  }
}
