$NavHeight: 60px;
$ContentHeight: calc(100% - $NavHeight);

.blankSpace {
  background-color: transparent;
  flex: 1;
}

.animateLayout {
  height: 380px;
}

.clipHistoryBoard {
  height: 380px;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgba($color: #F7F8FD, $alpha: 0.9);

  .navBar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: $NavHeight;
  }

  .contents {
    display: flex;
    width: 100%;
    position: relative;
    height: $ContentHeight;
    align-items: center;
    overflow-y: auto;
  }
}
