.hotkey {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 24px;

  .header {
    .title {
      display: flex;
      margin-top: 6px;
      margin-bottom: 28px;
    }
  }

  .inputGroup {
    display: flex;
    align-items: center;
  }

  :global {
    .ant-form-item {
      margin: 0;
    }
    .ant-form-item-control-input-content {
      display: flex;
    }
    .ant-form-item-required::before {
      display: none !important;
    }
  }

  .form {
    flex: 1;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .btn {
      margin-bottom: 16px;
    }
  }
}

.deleteModalIcon {
  color: #ff7875;
  font-size: 20px;
}

.modalContents {
  font-size: 16px;
}
